/* special styles only for WP instance */

#dolineo-range-slider--subtitle__wp-fix {
  margin-top: 60px !important;
}

#bottom_elements__wp-fix {
  margin-top: 20px !important;
}

.analiza__item {
  @media (min-width: 768px) {
    max-height: 30px !important;
  }
}

.cart__header {
  line-height: 16px;
}

.item__holder__option {
  margin-bottom: 20px !important;

  @media (min-width: 768px) {
    margin-bottom: 0px !important;
  }
}

#calculate__wp-fix {
  margin-bottom: 25px !important;
}

.picked__modules--wrapper {
  margin-top: 20px;

  @media (min-width: 768px) {
    margin-top: 0px;
  }
}
